
:root {
  --box-shadow: inset 0 0 0 2000px rgba(7, 2, 82, 0.8);
  --font-family:  Georgia, 'Times New Roman', Times, serif;
  --background-position: center;
  --background-repeat: no-repeat;
  --background-size: cover;
  --opacity: 90%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}
/* .dashboard-button {
  border: 2px solid black;
  margin-right: 2.5%;
} */

/* .landing-page-title {
  border-bottom: 4px solid white;
  height: 18%;
  margin: auto;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  margin-top: 15%;
  margin-left: 25%;
  text-align: center;
  font-family: var(--font-family);
  font-size: 400%;
  white-space: nowrap;
  color: white;
} */

/* Text Boxes on all of the sections on the landing page */
.landing-page-text {
  /* border: 2px solid black; */
  width: 60%;
  /* display: inline-block; */
  position: absolute;
  margin-top: 30%;
  margin-left: 20%;
  /* right: 0px; */
  background-color: whitesmoke;
}

.footer-container {
  position: absolute;
  border: 2px solid black;
  width: 100vw;
  box-shadow: var(--box-shadow);
}

.main-page-desc{
  /* border: 2px solid black; */
  width: 100%;
  text-align: center;
  margin-top: 30%;
  position: absolute;
  z-index: 10;
}
.dialog-logo{

}

.element {
  position: relative;
  width: inherit;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: var(--background-position);
  background-size: var(--background-size);
  background-repeat: var(--background-repeat);
  opacity: var(--opacity);
  box-shadow: var(--box-shadow);

}
.wrapper{
  /* border: 2px solid black; */
  height: 100vh;
  justify-content: center;
  display: flex;
}
.test-motion{
  width: 75vw;
}
.subtitle-motion{
  margin-top: 7%;
}
.line-container{
  margin-top: -2.5%;
  width: 75%;
}

.base-container{
  border: 2px solid black;
}
.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 90%;
  /* height: 100% !important; */
}

.react-pdf__Page__textContent{
  display: none;
}
.react-pdf__Page__annotations{
  display: none;
}
/* Background styling specifically for section-one */
div.one{
  background-image: url('images/sunset.jpeg');
  /* justify-content: center; */
}
/* Background styling specifically for section-two */
div.two{
  background-image: url('images/codescreenshot.jpg');
}
/* Styling div specific for the descrition of tech */
div.three {
  background-image: url('images/jl.jpeg');
}

div.four {
  background-image: url('images/jp.jpeg');
}

.App-link {
  color: #61dafb;
}
.stack-container{
  height: 90vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 800px) {
  .nav-bar-container {
    border: 2px solid black;
    width: 100vw;
  } 
  .MuiButton-root{
    border: 2px solid black;
  }
  .base-container{
    height: 5vh;
  }
  .subtitle-motion{
    margin-top: 20%;
  }
  .react-pdf__Page__canvas{
    width: auto;
  }

  .two{
    background-position:left;
  }

  .main-page-desc{
    margin-top: 80%;
    font-size: x-small;
  }
  .stack-container{
    height: 60vh;
    margin-left: 15;
  }
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


